html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P';
  background: transparent;
}

.content {
  position: relative;
}

.content button {
  position: absolute;
  top: 50px;
  right: 50px;
}

